.top{
    background-color: rgb(227, 227, 233);
}
ul{
    list-style-type: none;
    display: flex;
}
ul.top{
    justify-content: flex-end;
}
ul.vov{
    justify-content: center;
}
li{
    text-decoration: none;
    padding: 20px ;
}
.icon{
    width: 50px;
}
.function{
    width: 20%;
    height: 50px;
    border: 1px solid black ;
}
input{
    width: 200px;
    border: 2px solid rgb(225, 90, 90);
    border-radius: 20px;
    height: 20px;
}
.down{
    background-color: blue;
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
}
.category{
    background-color: rgb(117, 117, 227);
}
.current-time{
    width: 250px;
}
.socal-media{
    display: flex;
}
.socal-media img{
    width: 30px;
    padding: 0px 5px;
}