.container-post{
    display:  flex;
    justify-content: space-between;
    width: 100%;
}
/* .center-post{
    margin-right: 10px;
} */
.main-post img{
    width: 300px;
    height: 300px;
}
.right-post{
    display: flex;
}